<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <div class="card p-4 shadow-sm">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="image">Images</label>
                    <input type="file" class="form-control" name="image" multiple >
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">Looks good</div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" step="0.01" min="0" required>
                    </div>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-success w-100" type="submit">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds" class="btn btn-link">All Campgrounds</a>
        </div>
    </div>
</div>
